@using GymProject.Infrastructure.Data.Models;
@using Gym_Project.Models.TrainerModels
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model List<AllTrainersViewModel>

@{
    ViewData["Title"] = "Our Trainers";
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
}

<div class="container mt-5">
    <h1 class="text-center">Our Trainers</h1>
    @if (User.IsInRole("Admin"))
    {
        <div class="mt-4 mx-auto" style="width: 40%;">
            <a class="btn btn-primary btn-lg d-block mx-auto" asp-area="" asp-controller="Trainer" asp-action="AddTrainer">Add Trainer</a>
        </div>
    }
    <div class="col-md-6 mb-4" style="max-width: 300px;">
        <form asp-action="Index" asp-controller="Trainer" method="get" class="d-flex">
            <div class="flex-grow-1 me-2">
                <input type="text" class="form-control form-control-sm" name="searchString" value="@ViewBag.SearchString" placeholder="Search by trainer's name">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Search</button>
        </form>
    </div>
    <div class="row mt-4">
        @foreach (var trainer in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div style="max-height: 250px; overflow: hidden;">
                        <img src="@trainer.ImageUrl" class="card-img-top aspect-ratio-cover" alt="Trainer Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Name: @trainer.FullName</h5>
                        <p class="card-text">Age: @trainer.Age</p>
                        <p class="card-text">Slogan: @trainer.Slogan</p>
                        <a class="btn btn-primary btn-block fw-bold mt-0" asp-area="" asp-controller="Trainer" asp-action="ViewProfile" asp-route-id="@trainer.Id">View Profile</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-primary btn-block fw-bold mt-0" asp-area="" asp-controller="Trainer" asp-action="EditTrainer" asp-route-id="@trainer.Id">Edit Trainer</a>
                            <a class="btn btn-primary btn-block fw-bold mt-0" asp-area="" asp-controller="Trainer" asp-action="DeleteTrainer" asp-route-id="@trainer.Id">Delete Trainer</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                    <a class="page-link" href="?pageNumber=@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var showException = '@(TempData["ShowException"] ?? "")';
            var errorMessage = '@(TempData["ExceptionMessage"] ?? "")';
            if (showException === "True" && errorMessage) {
                alert(errorMessage);
            }
        });
    </script>
}