@using GymProject.Infrastructure.Data.Models;
@using Gym_Project.Models.TrainerModels;
@model List<AllTrainersViewModel>

@{
    ViewData["Title"] = "Our Trainers";
}

<div class="container mt-5">
    <h1 class="text-center">Our Trainers</h1>
    <div class="mt-4 mx-auto" style="width: 40%;">
        <a class="btn btn-primary btn-lg d-block mx-auto" asp-area="" asp-controller="Trainer" asp-action="AddTrainer">Add Trainer</a>
    </div>
    <div class="row mt-4">
        @foreach (var trainer in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div style="max-height: 250px; overflow: hidden;">
                        <img src="@trainer.ImageUrl" class="card-img-top aspect-ratio-cover" alt="Trainer Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Name: @trainer.FullName</h5>
                        <p class="card-text">Age: @trainer.Age</p>
                        <p class="card-text">Slogan: @trainer.Slogan</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Trainer" asp-action="ViewProfile" asp-route-id="@trainer.Id">View Profile</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Trainer" asp-action="EditTrainer" asp-route-id="@trainer.Id">Edit Trainer</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Trainer" asp-action="DeleteTrainer" asp-route-id="@trainer.Id">Delete Trainer</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>