@using Gym_Project.Models.ExerciseModels
@model List<AllExercisesViewModel>

@{
    ViewData["Title"] = "Exercise List";
}

<div class="container mt-5">
    <h1 class="text-center">Exercise List</h1>
    @if (User.IsInRole("Admin"))
    {
        <div class="mt-4 mx-auto" style="width: 40%;">
            <a class="btn btn-primary btn-lg d-block mx-auto mb-4" asp-area="" asp-controller="Exercise" asp-action="AddExercise">Add Exercise</a>
        </div>
    }
    <div class="col-md-6 mb-4" style="max-width: 300px;">
        <form asp-action="Index" asp-controller="Exercise" method="get" class="d-flex">
            <div class="flex-grow-1 me-2">
                <input type="text" class="form-control form-control-sm" name="searchString" value="@ViewBag.SearchString" placeholder="Search by exercise name">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Search</button>
        </form>
    </div>
    <div class="row">
        @foreach (var exercise in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div style="max-height: 250px; overflow: hidden;">
                        <img src="@exercise.ImageUrl" class="card-img-top" alt="Exercise Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Exercise Name: @exercise.Name</h5>
                        <p class="card-text">Difficulty Level: @exercise.DifficultyLevel / 10</p>
                        <p class="card-text">MuscleGroups: @exercise.MuscleGroups</p>
                        <a class="btn btn-primary btn-block fw-bold mt-0" asp-area="" asp-controller="Exercise" asp-action="Details" asp-route-id="@exercise.Id">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-primary btn-block fw-bold mt-0" asp-area="" asp-controller="Exercise" asp-action="EditExercise" asp-route-id="@exercise.Id">Edit Exercise</a>
                            <a class="btn btn-primary btn-block fw-bold mt-0" asp-area="" asp-controller="Exercise" asp-action="DeleteExercise" asp-route-id="@exercise.Id">Delete Exercise</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                    <a class="page-link" href="?pageNumber=@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>